<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.che.zero">

    <!--android:name=".common.ApplicationEx" 指定app启动时创建的Appliction类
        android:allowBackup="true" 允许ADB备份数据
        android:supportsRtl="true" 支持从右到左的布局。targetSdkVersion>=17
        如果当前系统语言是阿拉伯语/波斯语，打开了这个功能的应用的布局就会自动变成从右往左
    -->
    <application
        android:name=".common.ApplicationEx"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <!--android:screenOrientation="portrait" acticity显示方向 portrait纵向 landscape横向-->
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait">
            <!--第一启动Activity-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>


</manifest>
